<div>
  <%=  flash.now[:error] %>
</div>

<h3>Log in to your account</h3>

    <section class='fields'>
    <%= form_for :sessions, url: '/login' do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
     </section>
    <div class ='submit'>
      <%= f.submit "Log In" %>
    </div>
<% end %>