<div>
  <%=  flash.now[:error] %>
</div>

<h3>Log in to your account</h3>
  <%= form_tag do %>
    <%= form_for :sessions, url: '/login' do |f| %>
    <section class='fields'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
     </section>
    <div class ='submit'>
      <%= f.submit "Log In" %>
    </div>
  <% end %>
<% end %>